body{
    background-color: #373752;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    color: #373752;
}

#Header{
    margin: auto;
    margin-bottom: 5px;
    padding: 20px;
    min-width: 350px;
    max-width: 900px;
    background-color: #ffffff;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

/* Header Inhalte */
#Logo img{
    width: 100px;
}

#Suchleiste{
    text-align: center;
    flex-grow: 1;
}

#Suchbereich{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

#Suchfeld{
    flex-grow: 1;
}

#such-eingabefeld{
    min-width: 70px;
    width: 100%;
    padding: 7px 10px 6px 10px;
    font-size: 1em;
}

#search{
    background: #373752;
    color: #ffffff;
    border: 2px solid #373752;
    padding: 8px 25px 8px 25px;
    margin-left: 30px;
}

#search:hover{
    background: #ffffff;
    color: #373752;
    border: 2px solid #373752;
}

/* LOGIN Button */
#Login-Bereich{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    align-self: flex-end;
}

#Login-Bereich img{
    width: 60px;
    margin-bottom: 10px;
}

#login-button{
    background: #1edc62;
    color: #373752;
    border: 4px solid #1edc62;
    padding: 6px 20px 6px 20px;
    margin: auto;
}

#logout-button{
    background: #1edc62;
    color: #373752;
    border: 4px solid #1edc62;
    padding: 6px 20px 6px 20px;
    margin: auto;
}

#spotify-logo-img{
    width: 60px;
    margin-bottom: 10px;
}

#login-button:hover{
    background: #ffffff;
    color: #373752;
    border: 4px solid #1edc62;
}

#logout-button:hover{
    background: #ffffff;
    color: #373752;
    border: 4px solid #1edc62;
}

.Login-Info{
    text-align: center;
}

/*BÜCHER & SUCHERGEBNISSE*/
.suchergebnisse, .chosen-book-overview{
    margin: auto;
    margin-bottom: 5px;
    min-width: 350px;
    max-width: 900px;
    background-color: white;
    padding: 20px;
}

.bookElement, .playlistElement {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #373752;
}

.book-cover{
    height: 100%;
    margin-right: 20px;
}

#h2ChosenBook{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
}

/*Spotify*/
.playlistElement{
    flex-wrap: wrap;
}

.spotify-detail{
    margin: auto;
    margin-bottom: 5px;
    min-width: 350px;
    max-width: 900px;
    background-color: white;
    padding: 20px;
}

.hide{
    display: none;
}

.playlist-cover img {
    width: 8em;
    margin-right: 20px;
}

.playlist-details{
    flex-grow: 1;
    max-width: 90%;
}

.playlist-details h3 {
    margin: 0;
}

.playlist-details a {
    display: block;
    margin-top: 10px;
}

.Spotify-Heading{
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: center;
    font-weight: bold;
}

.coverANDdetails{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*SONGS*/
.trackElement {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.track-name, .dropdown {
    font-weight: bold;
}

.track-artist, .track-album {
    color: #555;
}

.tracks{
    width: 100%;
}